<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/fieldsErrorsStyle.css">
    <script type="text/javascript">
        function showModal(id) {
            $(id).modal('show');
        }
    </script>
    <script type="text/javascript">
        function showNewUserTab() {
            $('.nav-tabs a[href="#new-user"]').tab('show'); // По id вкладки
        }
    </script>
</head>

<body th:data-id="${userWithErrors != null} ? ${'#continueEditUser-' + userWithErrors.getId()} :
                                                                    ${userCanNotBeDeleted != null ? '#returnToDeleteUserDialog-' + userCanNotBeDeleted.getId() : '${userCanNotBeDeleted}'}"
      th:attr="onload=${(userWithErrors != null) || (userCanNotBeDeleted != null) ? 'showModal(document.body.getAttribute(''data-id''));' :
                                                                    (continueEditNewUser != null ? 'showNewUserTab();' : '')}">

<section class="top">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-12 col-xl-12 order-md-1 order-xl-0">
                <nav class="navbar fluid <!-- navbar-expand-lg--> navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">
                        <b>
                            <span sec:authentication="name">Name</span>
                        </b> with roles:
                        <span  th:each="role : ${authenticatedUser.getRoles()}"
                              th:text="${role.getName().replace('ROLE_', '') + ' '}">
                        </span>
                    </a>
                    <a class="nav-link ms-auto order-md-last order-xl-last" th:href="@{/logout}" style="color: grey">Logout </a>
                </nav>
            </nav>
        </div>
    </div>
</section>
<p/>

<section class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a th:class="${'nav-link' + (userService.isAdmin(authenticatedUser) ? ' active' : '')}"
                       id="v-pills-home-tab" data-toggle="pill" href="#v-pills-admin" role="tab"
                       aria-controls="v-pills-admin"
                       th:aria-selected="${userService.isAdmin(authenticatedUser) ? 'true' : 'false'}"
                       sec:authorize="hasRole('ADMIN')">Admin</a>
                    <a th:class="${'nav-link' + (!userService.isAdmin(authenticatedUser) ? ' active' : '')}"
                       id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                       aria-controls="v-pills-user"
                       th:aria-selected="${!userService.isAdmin(authenticatedUser) ? 'true' : 'false'}">User</a>
                </div>
            </div>
            <p></p>
            <div class="col-10">
                <div class="tab-content" id="v-pills-tabContent">
                    <div th:class="${'tab-pane fade' + (userService.isAdmin(authenticatedUser) ? ' active show' : '')}"
                         id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
                        <h2> Admin panel </h2>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#users-table"
                                   role="tab" aria-controls="users-table" aria-selected="true">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#new-user" role="tab"
                                   aria-controls="new-user" aria-selected="false">New user</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="AllUsersTabContent">
                            <div class="tab-pane fade show active" id="users-table" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <h4>All users</h4>

                                <table class="table table-striped" id="usersTable">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>

                                <form id="editUserForm">

                                    <div class="modal fade" id="editUser" tabindex="-1"
                                         role="dialog" aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <div class="container-fluid text-center">
                                                        <div class="row text-center">
                                                            <div class="col-6 mx-auto text-center">
                                                                <div class="mx-auto">
                                                                    <label align="center"
                                                                           for="id">
                                                                        <strong>ID</strong> </label>

                                                                    <input disabled class="form-control"
                                                                           type="number"
                                                                           id="id"
                                                                           name="id">
                                                                </div>
                                                                <strong>First name</strong>
                                                                <input class="form-control" type="text"
                                                                       name="name"
                                                                       id="name"
                                                                       placeholder="First name" required
                                                                       minlength="2" maxlength="30">
                                                                <div id="nameError" name="nameError" class="emsg"></div>
                                                                <strong>Last name</strong>
                                                                <input class="form-control" type="text"
                                                                       name="lastName"
                                                                       id="lastName"
                                                                       placeholder="Last name"
                                                                       required minlength="2" maxlength="50">
                                                                <div id="lastNameError" class="emsg"></div>
                                                                <strong>Age</strong>
                                                                <input class="form-control" type="number"
                                                                       name="age" id="age"
                                                                       placeholder="Age"
                                                                       required min="1" max="99">
                                                                <div id="ageError" class="emsg"></div>
                                                                <strong>Email</strong>
                                                                <input class="form-control" type="email"
                                                                       name="email"
                                                                       id="email"
                                                                       placeholder="Email" required email>
                                                                <div id="emailError" class="emsg"></div>
                                                                <strong>Password</strong>
                                                                <input class="form-control" type="password"
                                                                       name="password"
                                                                       id="password"
                                                                       placeholder="Password"
                                                                       required minlength="4">
                                                                <div id="passwordError" class="emsg"></div>
                                                                <strong>Role</strong>
                                                                <select multiple class="form-control"
                                                                        type="text" name="roles"
                                                                        id="roles"
                                                                        required>

                                                                    <option th:each="role : ${allRoles}"
                                                                            th:id="${role.id}"
                                                                            th:value="${role.id}"
                                                                            th:text="${role.name}"></option>
                                                                </select>
                                                                <div id="rolesError" class="emsg"></div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary" name="editButton">Edit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                                <form id="deleteUserForm">

                                    <div class="modal fade" id="deleteUser" tabindex="-1"
                                         role="dialog" aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Delete user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <div class="container-fluid text-center">
                                                        <div class="row text-center">
                                                            <div class="col-6 mx-auto text-center">

                                                                <div id="deleteErrorMessage" name="deleteErrorMessage" class="emsg"></div>

                                                                <div class="mx-auto">
                                                                    <label align="center"
                                                                           th:for="${'idDelete-'+user.id}">
                                                                        <strong>ID</strong> </label>

                                                                    <input disabled class="form-control"
                                                                           type="number"
                                                                           id="deleteUserForm-id"
                                                                           name="id">
                                                                </div>
                                                                <strong>First name</strong>
                                                                <input disabled class="form-control" type="text"
                                                                       name="name"
                                                                       id="deleteUserForm-name"
                                                                       placeholder="First name" required
                                                                       minlength="2" maxlength="30">
                                                                <strong>Last name</strong>
                                                                <input disabled class="form-control" type="text"
                                                                       name="lastName"
                                                                       id="deleteUserForm-lastName"
                                                                       placeholder="Last name"
                                                                       required minlength="2" maxlength="50">
                                                                <strong>Age</strong>
                                                                <input disabled class="form-control"
                                                                       type="number"
                                                                       name="age"
                                                                       id="deleteUserForm-age"
                                                                       placeholder="Age"
                                                                       required min="1" max="99">
                                                                <strong>Email</strong>
                                                                <input disabled class="form-control"
                                                                       type="email"
                                                                       name="email"
                                                                       id="deleteUserForm-email"
                                                                       placeholder="Email" required>
                                                                <strong>Role</strong>
                                                                <select disabled multiple class="form-control"
                                                                        type="text" name="roles"
                                                                        id="deleteUserForm-roles"
                                                                        required>
                                                                    <option th:each="role : ${allRoles}"
                                                                            th:id="${role.id}"
                                                                            th:value="${role.id}"
                                                                            th:text="${role.name}"></option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-danger" name="deleteButton">Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                            </div>

                            <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="profile-tab">
                                <h4>Add new user</h4>
                                <div class="container-fluid text-center">
                                    <div class="row">
                                        <div class="col-4"></div>
                                        <div class="col-4">
                                            <form id = "addNewUserForm">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <div><strong> First name </strong></div>
                                                    <input type="text" id="addNewUser-name" name="name"
                                                           placeholder="First name" required minlength="2"
                                                           maxlength="30"/>
                                                    <div id="addNewUser-nameError" name="nameError" class="emsg"></div>
                                                    <br/>
                                                    <div><strong> Last name </strong></div>
                                                    <input type="text" id="addNewUser-lastName" name="lastName"
                                                           placeholder="Last name" required minlength="2"
                                                           maxlength="50"/>
                                                    <div id="addNewUser-lastNameError" name="lastNameError" class="emsg"></div>
                                                    <br/>
                                                    <div><strong> Age </strong></div>
                                                    <input type="number" id="addNewUser-age" name="age"
                                                           placeholder="Age" required min="1" max="99"/>
                                                    <div id="addNewUser-ageError" name="ageError" class="emsg"></div>
                                                    <br/>
                                                    <div><strong> Email </strong></div>
                                                    <input type="email" id="addNewUser-email" name="email"
                                                           placeholder="Email" required email/>
                                                    <div id="addNewUser-emailError" name="emailError" class="emsg"></div>
                                                    <br/>
                                                    <div><strong> Password </strong></div>
                                                    <input type="password" id="addNewUser-password" name="password"
                                                           placeholder="Password" required minlength="4"/>
                                                    <div id="addNewUser-passwordError" name="passwordError" class="emsg"></div>
                                                    <br/>
                                                    <div><strong Role></strong></div>
                                                    <select multiple class="form-control" type="text"
                                                            name="roles" id="addNewUser-roles" required>
                                                        <option th:each="role : ${allRoles}"
                                                                th:id="${role.id}"
                                                                th:value="${role.id}"
                                                                th:text="${role.name}"></option>
                                                    </select>
                                                    <div id="addNewUser-rolesError" name="rolesError" class="emsg"></div>
                                                    <br/>
                                                </div>
                                                <button type="submit" class="btn btn-success" id = "addNewUserButton">Add new user
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-4"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div th:class="${'tab-pane fade' + (!userService.isAdmin(authenticatedUser) ? ' active show' : '')}"
                         id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                        <h2> User information-page </h2>
                        <div class="tab-content" id="UserTabContent">
                            <div class="tab-pane fade show active" id="user-table" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <h4>About user</h4>
                                <table class="table table-striped" id="aboutUserTable">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!--<script type="text/javascript">alert("before users.js call")</script>-->
<script type="text/javascript" src="../static/js/users.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>