<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>

<a th:href="@{/logout}">Logout</a>

<form th:object="${user}">
    <label for="name">name: </label>
    <input type="text" th:field="*{name}" id="name" readonly/>

    <label for="lastName">lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastName" readonly/>

    <label for="email">email: </label>
    <input type="text" th:field="*{email}" id="email" readonly/>

    <p>
        <label>Roles:
            <input type="checkbox" name="roles" disabled
                   th:each="role : ${allRoles}"
                   th:text="${role.name}"
                   th:value="${role.id}"
                   th:checked="${user.getRoles().contains(role)}"/>
        </label>
    </p>

</form>

</body>
</html>